.list-todo {
    margin-top: 20px;
    text-align: left;

    .item {
        padding: 15px 15px 15px 30px;
        position: relative;

        input {
            margin-right: 15px;
            outline: none;
            border: none;
            /* padding: 40px; */
        }

        .icon-close {
            display: none;
            position: absolute;
            top: 15px;
            right: 40px;
            cursor: pointer;
            line-height: 36px;
            color: #b83f45;
        }

        .item-name {
            font-size: 24px;
            max-width: 400px;
            overflow: hidden;
            word-wrap: break-word;
        }

        .button-edit {
            display: none;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            background-color: #b83f45;
            color: #ffffff;
            position: absolute;
            top: calc(50% - 7px);
            right: 60px;
            cursor: pointer;
        }

        .button-edit:hover {
            background-color: #cf7d7d;
        }
    }

    .item:hover {
        .icon-close {
            display: block;
        }

        .button-edit {
            display: block;
        }
    }

    .done {
        .item-name {
            text-decoration: line-through;
            color: #949494;
        }
    }

    .input-change-todo {
        outline: none;
        border: none;
        font-size: 24px;
        color: #333333;
        width: calc(100% - 65px);
        padding-left: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .input-change-todo:focus {
        box-shadow: 0 0 2px 2px #cf7d7d;
    }
}